// custom.scss
@import "bootstrap/scss/bootstrap.scss";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './index.scss';



// Importing Bootstrap source SASS for customization


$primary-color: #a1628c; // Change the primary color
$secondary-color: #0f813f; // Change the secondary color
// Add more custom variables as needed

// Override Bootstrap variables
$btn-primary-bg: $primary-color;
$btn-secondary-bg: $secondary-color;