

:root {
  /* Blue colors */
  --blue-1: #CDFAFA;
  --blue-2: #0AC8B9;
  --blue-3: #0397AB;
  --blue-4: #005A82;
  --blue-5: rgb(10, 50, 60);
  --blue-6: #091428;
  --blue-7: #0A1428;

  /* Gold colors */
  --gold-1: #F0E6D2;
  --gold-2: #C8AA6E;
  --gold-3: #C8AA6E;
  --gold-4: #C89B3C;
  --gold-5: #785A28;
  --gold-6: #463714;
  --gold-7: #32281E;

  /* Grey colors */
  --grey-1: #A09B8C;
  --grey-1-5: #5B5A56;
  --grey-2: #3C3C41;
  --grey-3: #1E2328;
  --grey-cool: #1E282D;
  --hextech-black: #010A13;
}

.selector-for-some-widget {
  box-sizing: content-box;
}


html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 50, 60, 0.7);;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  
}

#app {
/* existing styles */
margin: 0 auto;
text-align: center;
/* new styles */
  margin: 0 auto; /* centers the container */
  overflow: hidden; /* adds scrollbar if content overflows */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #442727;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.search-input {
  box-sizing: border-box; /* This ensures padding is included in the width */
  width: 100%; /* Full width */
  border: 1px solid #ccc;
  border-radius: 4px;
}


.search-input {
  padding: 10px;
  font-size: 16px;
}


