@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Railway:wght@400;600;700&display=swap');




:root {
	--primary-color: #1a202c;
	--secondary-color: #2d3748;
	--your-champion-color: #00aaff;
	--opponent-champion-color: #ff4500;
	--accent-color: #f56565;
	--navbar-color: #333;
	--text-color: #ffffff;
	--font-family: 'Roboto', sans-serif;
	--transition-duration: 0.3s;
	--navbar-height: 50px;
	--banner-height: 500px;
	/* Blue colors */
	--blue-1: #CDFAFA;
	--blue-2: #0AC8B9;
	--blue-3: #0397AB;
	--blue-4: #005A82;
	--blue-5: rgb(10, 50, 60);
	--blue-6: #091428;
	--blue-7: #0A1428;

	--red-1: #FACDCD;
	--red-2: #B90A0A;
	--red-3: #AB0303;
	--red-4: #820000;
	--red-5: rgb(60, 10, 10);
	--red-6: #280909;
	--red-7: #140A0A;

	/* Gold colors */
	--gold-1: #F0E6D2;
	--gold-2: #C8AA6E;
	--gold-3: #C8AA6E;
	--gold-4: #C89B3C;
	--gold-5: #785A28;
	--gold-6: #463714;
	--gold-7: #32281E;

	/* Grey colors */
	--grey-1: #A09B8C;
	--grey-1-5: #5B5A56;
	--grey-2: #3C3C41;
	--grey-3: #1E2328;
	--grey-cool: #1E282D;
	--hextech-black: #010A13;

	--grey-4: #0D2029;

	--blue-laser-1: #00FDFF;
	--blue-laser-2: #10FEFF;
	--red-laser-1: #FF5D6B;
	--red-laser-2: #FF4C5A;

	--tabs-background: #000406;
	--tabs-active: #0D2029;
	--tabs-hover: #0D2029;
	--tabs-border: #0D2029;
	--tabs-text: #A09B8C;
	--tabs-text-active: #F0E6D2;


	--navbar-background-elements: #13151b;
	--navbar-background-gradient: linear-gradient(135deg, #000507, #13151b, #000507);
	--background-1-gradient: linear-gradient(135deg, #000406, #000507);
	--red-laser-gradient: linear-gradient(135deg, #FF4C5A, #FF5D6B);
	--blue-laser-gradient: linear-gradient(135deg, #00FDFF, #10FEFF);
	--border-grey-gradient: linear-gradient(to top, #000406, #c8aa6e34, #000406);
	--border-grey-gradient-horizontal: linear-gradient(to left, #000406, #c8aa6e34, #000406);
	--border-laser-gradient-horizontal: linear-gradient(to left, #000406, #FF4C5A, #00FDFF, #000406);
	--border-red-blue-gradient: linear-gradient(to top, #FF4C5A, #0D2029, #00FDFF);

	--card-background: linear-gradient(to right, #091014, #0a141c);

}

/* Scrollbar für Webkit-Browser (Chrome, Safari) */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--grey-3);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: darkgrey;
}

::-webkit-scrollbar-track {
	background: black;
}

/* Scrollbar für Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: grey transparent;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #000406;
	margin:0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.selector-for-some-widget {
	box-sizing: content-box;
}



/* #app is the root Vue element and should fill the entire height of the viewport */
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

}

.custom-container {
	display: flex;
	width: 100%;
	height: 100%;
	color: var(--gold-1);
	/*background: #005b8281;*/
}

/* Text area styles */
.textarea {
	background-color: rgba(255, 255, 255, 0.1);
	/* Semi-transparent white background */
	color: #E6E6E6;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	line-height: 1.5;
	resize: vertical;
	z-index: -1;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.textarea:focus {
	outline: none;
	border-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	/* More opaque on focus */
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	/* Glow effect */
}

.textarea::placeholder {
	color: #A9A9A9;
	/* Placeholder text color */
	font-style: italic;
}

.textarea:hover {
	background-color: rgba(255, 255, 255, 0.15);
	/* More visible on hover */
}

/* Button styles */
.btn {
	font-size: 1rem;
	border: none;
	transition: color 0.3s ease;
}

/* Button Styles */
.btn-primary {
	border: none;
	border-radius: 10px;
	transition: background-color 0.3s ease;
	/* Smooth transition for hover effect */
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.btn-primary:hover {
	background-color: rgba(0, 128, 255, 0.1);
	/* Adjust color for glow */
}

.btn-primary::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 130%;
	height: 130%;
	background-color: rgba(0, 128, 255, 0.2);
	/* Adjust color for glow */
	filter: blur(5px);
	z-index: -1;
	transition: opacity 0.3s;
	border-radius: inherit;
	/* Match the button's border-radius */
}

.btn-secondary {
	/* Back button should not grow and should remain visible */
	flex-shrink: 0;
	align-self: flex-start;
	/* Align the back button to the start of the flex container */
}

/* Back Button Styles */
.btn-secondary {
	background: #16213e;
	/* Darker background for the back button */
	color: #fff;
	/* White text */
	border-radius: 10px;
	/* Rounded corners */
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}


h1 {
	font-size: 3.2em;
	line-height: 1.1;
}



@media (prefers-color-scheme: dark) {
	:root {
		color: #213547;
	}

	a:hover {
		color: #747bff;
	}
}
